{% extends 'downloader/base.html' %}
{% load static %}

{% block content %}


<h1 class="text-center">Youtube Downloader</h1>
<div class="w-full max-w-md" id="form-wrapper">
<form>
  {% csrf_token %}
  <input 
    type="text" 
    name="url" 
    placeholder="Paste your video URL"
    required
    hx-post="{% url 'get_url' %}" 
    hx-trigger="change delay:500ms"
    hx-target="#preview-container"
    hx-swap="innerHTML"
    hx-indicator="#spinner"
    class="border p-2 w-full"
  />
</form>
<!-- Loading spinner for HTMX -->
<div class="text-center mt-4">
 <span id="spinner" class="loading loading-bars loading-lg htmx-indicator"></span>
</div>
<div id="preview-container" class="mt-6 w-full max-w-md"></div>
    
</div>


<div id="progress-container"></div>
{% endblock content%}